<p>This is showing a particular button...</p>

<p>id: <%= @button['id'] %></p>
<p>shape: <%= @button['shape'] %></p>
<p>color: <%= @button['color'] %></p>
<p>description: <%= @button['description'] %></p>

<p><a href="/client/buttons/<%= @button['id'] %>/edit">Edit or delete this button</a></p>